<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <div>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
    <% @comment.errors.full_messages_for(:comment).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>